@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h3>Index</h3>

<p>Hello from our View Template</p>

@{
    ViewBag.Title = "Employee List";
}

<h2>Employees List</h2>

<p>Hello from View Template</p>

